<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WeixinSDK.Dev.AppID" value="wx55e4564a6ccd480b"/>
    <add key="WeixinSDK.Dev.AppSecret" value="113918a9f954218ff617b07417536e93"/>
    <add key="WeixinSDK.Dev.Pay.MchId" value="MchId"/>
    <add key="WeixinSDK.Dev.Pay.PartnerKey" value="PartnerKey"/>
  </appSettings>
</configuration>